// src/styles/_variables.scss
$border-color: #d1d5db; // Couleur de la bordure
$neutral-light: #f9fafb; // Couleur de fond claire
$neutral-dark: #374151; // Couleur de texte foncé
$primary-color: #3498db; // Couleur principale
$primary-hover: #2980b9; // Couleur principale survolée
$secondary-color: #e74c3c; // Couleur secondaire
$secondary-hover: #c0392b; // Couleur secondaire survolée
$shadow-color: rgba(0, 0, 0, 0.1); // Couleur des ombres
